MAPBOX_TOKEN=pk.YOUR_MAPBOX_ACCESS_TOKEN_HERE
SEARCH_RADIUS_KM=0.5

# Telegram — obtén el token hablando con @BotFather en Telegram
TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE

# PostgreSQL
POSTGRES_USER=nolights
POSTGRES_PASSWORD=nolights_secret
